{% extends '_layout1.html' %}

{% block head_title %}
    Confirmar Exclusão
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Confirmar Exclusão</h2>
    <hr>
    <p>Tem certeza de que deseja excluir a imagem "{{ image.caption }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
        <a href="{% url 'gerenciar_imagens' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}