{% extends '_layout1.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    Cadastro de Participante
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Inscrição para {{ evento.titulo }}</h1>
        <hr>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card p-4 mx-auto" style="max-width: 600px;">
            <h2 class="card-title text-center">Cadastro de Convidado</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="mb-3">
                        {% if field.field.widget.input_type == 'checkbox' %}
                            <div class="form-check">
                                {{ field }}
                                <label class="form-check-label" for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                            </div>
                        {% elif field.field.widget.input_type == 'radio' %}
                            <p class="mt-3"><strong>{{ field.label }}</strong></p>
                            {{ field }}
                        {% else %}
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                        {% endif %}
                        
                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger mt-2">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary w-100 mt-3">Cadastrar</button>
            </form>
        </div>
    </div>
{% endblock %}