{% extends '_layout_kids.html' %}
{% load static %}

{% block head_title %}
  {{Ministerio_Infantil}}
{% endblock %}

{% block content %}

<h1>{{ titulo }}</h1>

<div class="container">
  <div class="border border-success">
    <h1> A história da criação do mundo,</h1>  
    <p>
    dos grandes heróis da fé e os ensinamentos deixados por Jesus Cristo estão reunidos nesse livro repleto de lindas ilustrações. Conheça um pouco mais sobre o poder e o amor de Deus a cada página virada. Google Books
    Data da primeira publicação: 2016
    Autor: Ciranda Cultural
    </p>
  </div>
</div>
  
  

  {% endblock %}